@use 'src/style/base';

.mapNodeCircle {
    transition: fill 0.15s, stroke 0.15s;
}

.mapNodeText {
    @include base.unselectable();

    text-anchor: middle;
    
    font-family: base.$font-stack;
    font-weight: base.$font-weight;
    font-size: 0.1em;

    paint-order: stroke;
    stroke-width: 0.4;
    stroke-linecap: round;
    stroke-linejoin: round;

    transition: fill 0.15s, stroke 0.15s;
}