@use 'src/style/base';

.mapArmyText {
    @include base.unselectable();

    text-anchor: middle;
    
    fill: base.$white;
    font-family: base.$font-stack;
    font-weight: base.$font-weight;
    font-size: 0.075em;

    paint-order: stroke;
    stroke-width: 0.3;
    stroke-linecap: round;
    stroke-linejoin: round;
}